@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #707070;
	padding-left: 10px;
	padding-right: 10px;
}

.shadow {
	-webkit-box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.16);
}

.shadow2 {
	-webkit-box-shadow: -3px 3px 13px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: -3px 3px 13px 0px rgba(0, 0, 0, 0.16);
	box-shadow: -3px 3px 13px 0px rgba(0, 0, 0, 0.16);
}
#content {
	min-height: calc(100vh - 260px);
	margin-bottom: 50px;
}

#main-card {
	display: block;
	margin: 0 auto;
	max-width: 900px;
	min-height: 400px;
	margin-top: 150px;
	border-radius: 15px;
}

#start-page {
	padding: 10px;
}

.start-heading {
	display: block;
	margin: 0 auto;
	width: fit-content;
	padding-top: 60px;
}

.start-heading img {
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.start-heading h1 {
	text-align: center;
	margin-bottom: 0px;
}

.start-heading h3 {
	margin-top: 0px;
	font-weight: 600;
}

.nav-full {
	height: 45px;
	max-width: 405px;
	border-radius: 40px;
	margin: 0 auto;
	margin-top: 40px;
}

.nav-full ul {
	display: flex;
	padding-top: 11px;
	width: fit-content;
	padding-left: 0;
	margin: 0 auto;
}

.nav-full ul li {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	font-weight: 600;
}

.nav-full ul li:hover {
	color: #00a2ff;
	cursor: pointer;
}

#home-page {
	padding-left: 40px;
	padding-top: 40px;
}

.home-heading {
	display: flex;
	justify-content: space-between;
}

.home-heading-text {
	margin-left: 15px;
}

.home-heading-logo {
	display: flex;
}

.home-heading-text h3 {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 18px;
}

.home-heading-text h6 {
	font-size: 14px;
	margin-top: 0;
	font-weight: 600;
}

.home-heading img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}

.nav-half {
	height: 45px;
	width: 380px;
	margin-top: 10px;
	border-radius: 40px 0px 0px 40px;
}

.nav-half ul {
	display: flex;
	padding-top: 11px;
	width: fit-content;
	padding-left: 0;
	margin: 0 auto;
}

.nav-half ul li {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	font-weight: 600;
}

.nav-half ul li:hover {
	color: #00a2ff;
	cursor: pointer;
}

.home-body {
	padding-left: 80px;
	padding-right: 60px;
}

.home-body p {
	font-size: 15px;
}

.nav-active {
	color: #00a2ff;
	font-weight: bold !important;
}

#footer {
	text-align: center;
}

#footer a {
	color: #707070;
}
