@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #707070;
	padding-left: 10px;
	padding-right: 10px;
}

.shadow {
	-webkit-box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.16);
}

.shadow2 {
	-webkit-box-shadow: -3px 3px 13px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: -3px 3px 13px 0px rgba(0, 0, 0, 0.16);
	box-shadow: -3px 3px 13px 0px rgba(0, 0, 0, 0.16);
}

#main-card {
	display: block;
	margin: 0 auto;
	max-width: 900px;
	height: 400px;
	margin-top: 150px;
	border-radius: 15px;
}

#start-page {
	border-radius: 15px;
	padding: 10px;
}

.start-heading {
	display: block;
	margin: 0 auto;
	width: fit-content;
	padding-top: 60px;
}

.start-heading img {
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.start-heading h1 {
	text-align: center;
	margin-bottom: 0px;
}

.start-heading h3 {
	margin-top: 0px;
	font-weight: 600;
}

.nav-full {
	height: 45px;
	max-width: 405px;
	border-radius: 40px;
	margin: 0 auto;
	margin-top: 40px;
}

.nav-full ul {
	display: flex;
	padding-top: 11px;
	width: fit-content;
	padding-left: 0;
	margin: 0 auto;
}

.nav-full ul li {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	font-weight: 600;
}
